<!DOCTYPE html>
<html lang="en">
<%-include('partials/head')%>
<body class="px-16 tracking-wide bg-[#FAF8F0] text-[#1e1e19] font-[Montserrat]">
    <%-include('partials/topbar')%>
    <%-include('partials/navbar')%>
    <!-- women -->
  <h2 class="text-2xl font-semibold tracking-wide text-gray-800 text-center mt-28">
    Grace in Every Thread
  </h2>
  <div class="main my-16 grid grid-cols-4 gap-6">
    <div class="card w-fit p-2">
        <div class="img h-[67vh] w-[22vw] bg-red-100 overflow-hidden">
            <img src="./img/women1.jpg" alt="" class="object-cover">
        </div>
        <div class="tag flex items-center justify-between px-1">
            <h5 class="text-[0.6rem] font-[600]">Client Name</h5>
            <i class="ri-heart-2-line text-xl"></i>
        </div>
        <h4 class="tracking-widest font-[400] my-0.5 text-base">ARIA SKIRT SET - BLUSH</h4>
        <p class="font-light tracking-widest mt-2 mb-1">&#8377;<span>45,000</span></p>
        <a href="" class="text-[0.5rem] font-bold border py-1.5 px-2.5">READY TO SHIP</a>
    </div>  
    <div class="card w-fit p-2">
        <div class="img h-[67vh] w-[22vw] bg-red-100 overflow-hidden">
            <img src="./img/women2.jpg" alt="" class="object-cover">
        </div>
        <div class="tag flex items-center justify-between px-1">
            <h5 class="text-[0.6rem] font-[600]">Client Name</h5>
            <i class="ri-heart-2-line text-xl"></i>
        </div>
        <h4 class="tracking-widest font-[400] my-0.5 text-base">Sahasra Gota Patti Silk Sharara Set - Black</h4>
        <p class="font-light tracking-widest mt-2 mb-1">&#8377;<span>125,000</span></p>
        <a href="" class="text-[0.5rem] font-bold border py-1.5 px-2.5">READY TO SHIP</a>
    </div>  
    <div class="card w-fit p-2">
        <div class="img h-[67vh] w-[22vw] bg-red-100 overflow-hidden">
            <img src="./img/women3.jpg" alt="" class="object-cover">
        </div>
        <div class="tag flex items-center justify-between px-1">
            <h5 class="text-[0.6rem] font-[600]">Client Name</h5>
            <i class="ri-heart-2-line text-xl"></i>
        </div>
        <h4 class="tracking-widest font-[400] my-0.5 text-base">Sawsan Embroidered Mul Tabard Set - White</h4>
        <p class="font-light tracking-widest mt-2 mb-1">&#8377;<span>45,900</span></p>
        <a href="" class="text-[0.5rem] font-bold border py-1.5 px-2.5">READY TO SHIP</a>
    </div> 
    <div class="card w-fit p-2">
        <div class="img h-[67vh] w-[22vw] bg-red-100 overflow-hidden">
            <img src="./img/women4.jpg" alt="" class="object-cover">
        </div>
        <div class="tag flex items-center justify-between px-1">
            <h5 class="text-[0.6rem] font-[600]">Client Name</h5>
            <i class="ri-heart-2-line text-xl"></i>
        </div>
        <h4 class="tracking-widest font-[400] my-0.5 text-base">Rowan Printed Kaftan - Sage</h4>
        <p class="font-light tracking-widest mt-2 mb-1">&#8377;<span>22,900</span></p>
        <a href="" class="text-[0.5rem] font-bold border py-1.5 px-2.5">READY TO SHIP</a>
    </div> 
    <div class="card w-fit p-2">
        <div class="img h-[67vh] w-[22vw] bg-red-100 overflow-hidden">
            <img src="./img/women5.jpg" alt="" class="object-cover">
        </div>
        <div class="tag flex items-center justify-between px-1">
            <h5 class="text-[0.6rem] font-[600]">Client Name</h5>
            <i class="ri-heart-2-line text-xl"></i>
        </div>
        <h4 class="tracking-widest font-[400] my-0.5 text-base">Moonlight Bloom Printed Silk Skirt Set - Blue</h4>
        <p class="font-light tracking-widest mt-2 mb-1">&#8377;<span>60,000</span></p>
        <a href="" class="text-[0.5rem] font-bold border py-1.5 px-2.5">READY TO SHIP</a>
    </div> 
    <div class="card w-fit p-2">
        <div class="img h-[67vh] w-[22vw] bg-red-100 overflow-hidden">
            <img src="./img/women6.jpg" alt="" class="object-cover">
        </div>
        <div class="tag flex items-center justify-between px-1">
            <h5 class="text-[0.6rem] font-[600]">Client Name</h5>
            <i class="ri-heart-2-line text-xl"></i>
        </div>
        <h4 class="tracking-widest font-[400] my-0.5 text-base">Silaam Printed Kaftan - Powder Blue</h4>
        <p class="font-light tracking-widest mt-2 mb-1">&#8377;<span>110,000</span></p>
        <a href="" class="text-[0.5rem] font-bold border py-1.5 px-2.5">READY TO SHIP</a>
    </div> 
  </div>

    <%-include('partials/appointment')%>
    <%-include('partials/footer')%>
    <script src="/js/script.js"></script>
</body>
</html>